body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: #0C0032;
}
.font_righteous {
    font-family: 'Hind', sans-serif;
}
.bck_black {
    background: #0C0032;
}
.bck_white {
    background: #FFFFFF;
}
.bck_red {
    background: #FF4800;
}
.bck_yellow {
    background: #FFA800;
}
.iconImage {
    width: 20px;
    margin-right: 10px;
}
.center_wrapper {
    width: 900px;
    margin:0 auto;
    background-color: #0C0032;
}

/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
    text-shadow: 2px 2px rgb(36, 33, 33);
}

header .header_logo_title {
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(36, 33, 33);
}

/*====================
        FOOTER
======================*/

footer {
    padding:30px 0px;
    text-align: center;
    font-size: 30px;
    color:#ffffff;
    background-color: #240090;
}

.font_righteous footer_logo_venue {
    padding: 10px;
}

footer .footer_copyright {
    font-size: 18px;
    text-align: center;
}

footer ul a{
    margin: 20px;
    padding-right: 10px;
    color: white;
}

#fb:hover {
    color: #3B5998;
  }

  #yt:hover {
    color: #ff0000;
  }

  #tw:hover {
    color: #4099FF;
  }
  #gh:hover {
    color: #000000;
  }
  
/*====================
        CARROUSEL
======================*/

.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid white;
}

.artist_name .wrapper {
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
}

/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
}

.countdown_wrapper .countdown_top {
    background: #240090;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    background: #240090;
    padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
    font-size: 70px;
    border-right: 1px solid #282828;
    margin-right: 14px;
    padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}

/*====================
        VENUE NFO
======================*/

.vn_wrapper {
    display: flex;
    padding: 170px 0px 0px 0px;
}
.vn_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
.vn_item .vn_outer {
    width: 300px;
    border: 2px solid #240090;
    margin: auto;
    padding: 5px;
}
.vn_item .vn_inner {
    border: 2px solid #240090;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}
.vn_item .vn_inner:hover {
    background: #3E3E3E;
}
.vn_item .vn_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}
.vn_item .vn_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}
.vn_item .vn_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5D5D5D;
    padding-bottom: 10px;
}
.vn_item .vn_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

/*====================
        HIGHLIGHTS
======================*/
.highlight_wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    /* background-color: #0C0032; */
    color: white;
    font-size: 52px;
}
.highlight_wrapper .highlight_description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #240090;
    border-bottom: 1px solid #240090;
    color: #FFFFFF;
    background-color: #0C0032;
    padding: 30px 0px;
}
.discount_wrapper {
    background-color: #0C0032;
    color: white;
    display: flex;
    padding: 70px 0px;
}
.discount_wrapper .discount_porcentage {
    padding-right: 100px;
}
.discount_wrapper .discount_porcentage span:nth-child(1) {
    color: white;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}
.discount_wrapper .discount_porcentage span:nth-child(2) {
    color: white;
    font-size: 50px;
    font-weight: 400;
    display: block;
}
.discount_wrapper .discount_description h3 {
    font-size: 34px;
    font-weight: 100;
    margin: 0px;
    color: white;
}
.discount_wrapper .discount_description p {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}
/*====================
     ARTIST BIOS
======================*/
.artist_image {
    background-size: cover !important;
    height:400px;
    width: 100%;
}
.react-reveal artist_one{
    background-color: #0C0032
}
.artist_wrapper h3{
    text-align: center;
    background-color: #240090;
    color:white;
    font-family: 'Merriweather', serif;
    font-size: 55px;
}
.artist_desc h2{
    text-align: left;
    color:white;
    background-color: #0C0032;
    font-family: 'Merriweather', serif;
    font-size: 35px;
}
.artist_desc{
    color: white;
    background-color: #0C0032;
    text-align: left;
    font-family: 'Montserat', serif;
    font-size: 20px;
    margin: 0;
}

/*====================
     ARTIST BIOS
======================*/
.artist_image {
    background-size: cover !important;
    height:400px;
    width: 100%;
}
.react-reveal artist_one{
    background-color: #0C0032
}
.artist_wrapper h3{
    text-align: center;
    background-color: #0C0032;
    color:white;
    font-family: 'Hind', sans-serif;
    font-size: 55px;
}
.artist_desc h2{
    text-align: center;
    color:white;
    background-color: #240090;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.artist_desc{
    color: white;
    background-color: #0C0032;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 0;
}

/*====================
        PRICING
======================*/

.pricing_section {
    padding: 10px 0px;
}


.pricing_section h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.pricing_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.pricing_wrapper .pricing_item{
    flex-grow: 1;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.pricing_wrapper .pricing_inner_wrapper {
    border:2px solid #240090;
    padding: 50px 20px;
}

.pricing_inner_wrapper .pricing_title {
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #240090;
    padding-bottom: 20px;
}
.pricing_inner_wrapper .pricing_title span:nth-child(1) {
    font-size: 50px;
    display: block;
}
.pricing_inner_wrapper .pricing_title span:nth-child(2) {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
    color: #b8b8b8;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
    min-height: 70px;
}

.pricing_inner_wrapper .pricing_buttons {
     text-align: center;
}


/*====================
        LOCATION    
======================*/

.location_wrapper {
    position:relative;
}

.location_tag {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.location_tag div{
    background: #0C0032;
    color: #ffffff;
    text-transform: uppercase;
    width: 220px;
    margin: 0 auto;
    font-size: 29px;
    padding: 15px 20px;
    text-align: center;
}

/*====================
        FAQ    
======================*/
.faqFormat{
    background-color: #0C0032;
    color: #FFFFFF;
    margin: 20px;
    padding-left: 100px;
}
.faq-title {
    height: 50px;
    /* background-color: #282828; */
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
}
.question {
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}
.question-section,
.answer {
    color: #FFFFFF;
    text-align: left;
    font-size: 18px;
}
.question-section,
.answer2{
    color: #FFFFFF;
    text-align: left;
    font-size: 18px;
}
.question,
.answer{
    color: #FFFFFF;
    text-align: left;
    font-size: 18px;
}
.li{
    margin: 20px;
    list-style-type: square;
    padding-left: 20px;
    color: #FFFFFF;
}
.restaurant-btn {
    text-transform: uppercase;
    outline: none;
    font-size: x-large;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    transition-duration: 0.4s;
    margin: 20px;
}

.restaurant-btn:hover {
    background-color: #3500D3;
    color: #FFF3E6;
}

.calendar{
    background-color: white;
    border-radius: 25px;
    margin: 50px;
    padding:20px;
}